.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
  list-style: none;
  margin-left: 15px;
  padding: 15px;
  margin: 15px;
  font-size: 45px;
  box-shadow: 3px 3px 5px rgba(232, 24, 24, 0.3),
    -1px -1px 5px rgba(255, 255, 255, 0.3);
  color: white;
  background-image: linear-gradient(135deg, #fff5c3 10%, #9452a5 100%);
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.link:hover,
.link:focus {
  color: grey;
}
.active {
  color: violet;
}
