.container {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 15px;
  font-size: 35px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(255, 255, 255, 0.3);
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.active {
  color: orangered;
  text-decoration: underline;
}
